<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/school-solid.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Carreras
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/css/now-ui-kit.css?v=1.3.0" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet"/>
</head>

<body class="landing-page sidebar-collapse">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container">

        <div class="collapse navbar-collapse justify-content-end" id="navigation"
             data-nav-image="../assets/img/blurred-image-1.jpg">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/carreras.html">Carreras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/tramites.html">Trámites</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <!--<div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="false" style="background-image: url('../assets/img/banner-itvo.jpg');">
        </div>-->

    <!-- Sección de artículos -->
    <div class="articulos section" style="padding: 100px">
        <article>
            <header>
                <h1>Ing. en Agronomía</h1>
                <!--<p>Publicado <time pubdate datetime="2020-08-11T20:00-04:00">5 meses atrás</time></p>-->
            </header>

            <div class="contenido">
                <article>
                    <header>
                        <h3>Objetivo de la carrera</h3>
                    </header>
                    <p>Formar profesionistas en el campo de la Agronomía capaces de generar, adaptar,
                        transferir tecnología y desarrollar procesos de producción agropecuaria, con base en
                        estándares de calidad, vocación de servicio, visión creativa y emprendedora,
                        comprometidos con la sociedad y el manejo sustentable de los recursos naturales.</p>
                </article>
                <article>
                    <header>
                        <h3>Visión</h3>
                    </header>
                    <p>Ser un programa educativo de calidad mediante procesos de innovación tecnológica,
                        pertinente a las necesidades del desarrollo sustentable del Sector Agropecuario.</p>
                </article>
                <article>
                    <header>
                        <h3>Misión</h3>
                    </header>
                    <p>Formar profesionales en el campo de la Agronomía con capacidad científica y
                        tecnológica, con sentido ético, comprometidos con el entorno social y ecológico para
                        el desarrollo agropecuario sustentable.</p>
                </article>
            </div>

        </article>

        <article>
            <header>
                <h1>Lic. en Biología</h1>
                <!--<p>Publicado <time pubdate datetime="2020-08-11T20:00-04:00">5 meses atrás</time></p>-->
            </header>

            <div class="contenido">
                <article>
                    <header>
                        <h3>Objetivo de la carrera</h3>
                    </header>
                    <p>
                        Formar profesionistas en el campo de la Biología con las competencias necesarias para
                        desarrollarse en diferentes ámbitos e integrarse en equipos multidisciplinarios; contribuyendo
                        al manejo para la conservación de la Biodiversidad, con ética y respeto a la diversidad
                        cultural.</p>
                </article>
                <article>
                    <header>
                        <h3>Visión</h3>
                    </header>
                    <p>Ser un programa de Biología reconocido y pertinente a las necesidades de la sociedad a través del
                        actuar de profesionales que fomenten el manejo sustentable de los recursos naturales.</p>
                </article>
                <article>
                    <header>
                        <h3>Misión</h3>
                    </header>
                    <p>Contribuir al conocimiento y gestión de la biodiversidad para el desarrollo sustentable, justo e
                        incluyente de la sociedad, a través de la formación integral de profesionales de la
                        biología.</p>
                </article>
            </div>

        </article>

        <article>
            <header>
                <h1>Ing. en Informática</h1>
            </header>

            <div class="contenido">
                <article>
                    <header>
                        <h3>Objetivo de la carrera</h3>
                    </header>
                    <p>
                        Formar profesionales competentes en el desarrollo y administración de proyectos de software,
                        redes y bases de datos, basados en normas y estándares de calidad, aplicando herramientas
                        computacionales, comprometidos con su entorno, desempeñándose con actitud ética, emprendedora y
                        de liderazgo.</p>
                </article>
                <article>
                    <header>
                        <h3>Visión</h3>
                    </header>
                    <p>Ser el mejor programa académico en Ingeniería Informática, con reconocimiento a nivel estatal y
                        nacional, permitiendo que los egresados tengan un alto impacto en el mercado laboral, ofreciendo
                        soluciones innovadoras e integrales de una manera sustentable respecto a las necesidades
                        regionales y globales de investigación científica y de desarrollo tecnológico.</p>
                </article>
                <article>
                    <header>
                        <h3>Misión</h3>
                    </header>
                    <p>Formar profesionales en el área de Informática bajo un modelo educativo vanguardista, con los
                        conocimientos, habilidades científicas y tecnológicas, con una orientación humanista, con
                        sólidos valores éticos y morales; capaces de investigar e innovar para dar solución con calidad
                        y sustentabilidad a las necesidades del entorno.</p>
                </article>
            </div>

        </article>

        <article>
            <header>
                <h1>Ing. en Tecnologías de la Información y Comunicaciones</h1>
            </header>

            <div class="contenido">
                <article>
                    <header>
                        <h3>Objetivo de la carrera</h3>
                    </header>
                    <p>Formar profesionistas capaces de integrar y administrar sistemas de información y
                        telecomunicaciones que contribuyan a la productividad y al logro de los objetivos estratégicos
                        de las organizaciones en un entorno globalizado; caracterizándose por ser líderes, críticos,
                        competentes, éticos y con visión emprendedora, comprometidos con el desarrollo sustentable.</p>
                </article>
                <article>
                    <header>
                        <h3>Visión</h3>
                    </header>
                    <p>Ser el mejor programa académico en Tecnologías de la Información y Comunicaciones, con
                        reconocimiento a nivel estatal y nacional, permitiendo que los egresados tengan un alto impacto
                        en el mercado laboral, ofreciendo soluciones innovadoras e integrales de una manera sustentable
                        respecto a las necesidades regionales y globales de investigación científica y de desarrollo
                        tecnológico.</p>
                </article>
                <article>
                    <header>
                        <h3>Misión</h3>
                    </header>
                    <p>Formar profesionales en el área de Tecnologías de la Información y Comunicaciones bajo un modelo
                        educativo vanguardista, con los conocimientos, habilidades científicas y tecnológicas, con una
                        orientación humanista, con sólidos valores éticos y morales; capaces de investigar e innovar
                        para dar solución con calidad y sustentabilidad a las necesidades del entorno.</p>
                </article>
            </div>

        </article>
    </div>
</div>

<footer class="footer" data-background-color="black">
    <div class=" container ">
        <nav>
            <ul>
                <li>
                    <a href="https://github.com/agustin-ollin" target="_blank">
                        Acerca de Nosotros
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright" id="copyright">
            &copy;
            <script>
                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>
            , Desarrollada por OLLÍN
        </div>
    </div>
</footer>

</div>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="../assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/now-ui-kit.js?v=1.3.0" type="text/javascript"></script>
</body>

</html>
